<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/app.js"></script>
<link href="~/Style.css" rel="stylesheet" />
<header id="instruction">
    <h3>Instructions:</h3>
    <p>To generate the Sequence enter the number and click 'Start' button.</p>
</header>
<body>
    <label for="number_a">Enter Number:</label>
    <input type="text" id="number_input" data-decimals="0"><br />
    <p class="btnClick1"><button id="result" class="action result">Start</button></p>
</body>
<div id="ResultSequence">
    <article>
        <section>
            <span>Fibonacci Series: </span>
            <div id="FibonacciSeries"></div>
        </section>
        <section>
            <span>Full Series:</span>
            <div id="AllNum"></div>
        </section>
        <section>
            <span>Evens:</span>
            <div id="evens"></div>
        </section>
        <section>
            <span>Odds:</span>
            <div id="odds"></div>
        </section>
        <section>
            <span>C (multiple of 3):</span>
            <div id="c"></div>
        </section>
        <section>
            <span>E (multiple of 5):</span>
            <div id="e"></div>
        </section>
        <section>
            <span>Z (multiple of both 3 and 5):</span>
            <div id="z"></div>
        </section>
    </article>
</div>


